---
import { getAllMerchantsWithServices } from '@acme/db-api';
import MerchantTitle from '~/components/MerchantTitle.astro';
import ServiceTitle from '~/components/ServiceTitle.astro';
import { ctx } from '~/ctx';
import Layout from '~/layouts/Layout.astro';
import { formatServiceName } from '~/util/formatServiceName';

/**
 * Get path parameters
 */
export async function getStaticPaths() {
    const data = await getAllMerchantsWithServices({
        merchant_columns: { merchant_id: true, name: true },
        service_columns: { service_id: true, name: true },
        ctx,
    });

    return data
        .map(({ services, ...merchant }) => services.map(service => ({ merchant, service })))
        .flat()
        .map(({ merchant, service }) => ({
            params: {
                merchant_id: merchant.merchant_id.toString(),
                service_name: formatServiceName(service.name),
            },
            props: { merchant, service },
        }));
}

// Need to explicitly define props type to avoid lint error
type Props = Awaited<ReturnType<typeof getStaticPaths>>[number]['props'];

/**
 * Render page
 */
const { merchant, service } = Astro.props;
---

<Layout title={merchant.name}>
    <main class='mx-auto w-full max-w-3xl p-4 text-xl text-white'>
        <MerchantTitle merchant={merchant} />
        <ServiceTitle service={service} />
    </main>
</Layout>
