---
import { getAllMerchantsWithServices } from '@acme/db-api';
import { ctx } from '~/ctx';
import Layout from '~/layouts/Layout.astro';
import { formatServiceName } from '~/util/formatServiceName';

// Need to explicitly define props type to avoid lint error
type Props = Awaited<ReturnType<typeof getStaticPaths>>[number]['props'];

/**
 * Get path parameters
 */
export async function getStaticPaths() {
    const data = await getAllMerchantsWithServices({
        merchant_columns: { merchant_id: true, name: true },
        service_columns: { service_id: true, name: true },
        ctx,
    });

    return data
        .map(({ services, ...merchant }) => services.map(service => ({ merchant, service })))
        .flat()
        .map(({ merchant, service }) => ({
            params: {
                merchant_id: merchant.merchant_id.toString(),
                service_name: formatServiceName(service.name),
            },
            props: { merchant, service },
        }));
}

/**
 * Render page
 */
const { merchant, service } = Astro.props;
---

<Layout title={merchant.name}>
    <main class='mx-auto w-full max-w-3xl p-4 text-xl leading-relaxed text-white'>
        <h1
            class='bg-300% mb-8 bg-gradient-to-r from-purple-400 to-pink-600 bg-clip-text bg-center text-center text-6xl font-bold leading-normal text-transparent'
        >
            {merchant.name}
        </h1>
        <h2
            class='bg-300% mb-8 bg-gradient-to-r from-purple-400 to-pink-600 bg-clip-text bg-center text-center text-4xl font-semibold text-transparent'
        >
            {service.name}
        </h2>
    </main>
</Layout>
