---
import { Counter } from '~/components/Counter';
import MerchantTitle from '~/components/MerchantTitle.astro';
import ServiceList from '~/components/ServiceList.astro';
import Layout from '~/layouts/Layout.astro';
import { getStaticMerchants } from '~/util/getStaticMerchants';

/**
 * Get path parameters
 */
export async function getStaticPaths() {
    const merchants = await getStaticMerchants({ columns: { merchant_id: true, name: true } });

    return merchants.map(m => ({ params: { merchant_id: m.merchant_id }, props: { merchant: m } }));
}

// Need to explicitly define props type to avoid lint error
type Props = Awaited<ReturnType<typeof getStaticPaths>>[number]['props'];

/**
 * Render page
 */
const merchant_id = Astro.params.merchant_id;
const { merchant } = Astro.props;
---

<Layout title={merchant.name}>
    <main class='mx-auto w-full max-w-3xl p-4 text-xl text-white'>
        <MerchantTitle merchant={merchant} />
        <ServiceList merchant_id={merchant_id} />
        <Counter client:load />
    </main>
</Layout>
