name: CI

on:
    pull_request:
        branches: '*'
    push:
        branches: [main]
    merge_group:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    audit:
        runs-on: ubuntu-latest
        steps:
            # --- Start setup --- #
            - uses: actions/checkout@v4
            - uses: ./tooling/actions/install-dependencies
              with:
                  ignore-scripts: true
            # --- End setup --- #

            - name: Audit
              run: pnpm audit
            - name: License check
              run: pnpm run -F license-check go

    format:
        needs: audit
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./tooling/actions/install-dependencies
            - name: Format
              run: pnpm format

    lint:
        needs: audit
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./tooling/actions/install-dependencies
            - name: Lint
              run: pnpm lint

    test:
        needs: audit
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./tooling/actions/install-dependencies
            - name: Test
              run: pnpm test:ci

    typecheck:
        needs: audit
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./tooling/actions/install-dependencies
            - name: Typecheck
              run: pnpm typecheck

    stepci--api-trpc:
        needs:
            - audit
            - test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./tooling/actions/install-dependencies
            - name: Start server
              run: pnpm -F api-trpc dev & echo Starting
            - name: Wait for server ready
              run: pnpm exec wait-on tcp:3002
              timeout-minutes: 0.2
            - name: StepCI workflow
              uses: stepci/stepci@2.8.2
              with:
                  workflow: ./apps/api-trpc/stepci.yml
