name: CI

on:
    pull_request:
        branches: '*'
    push:
        branches: [main]
    merge_group:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    audit:
        runs-on: ubuntu-latest
        steps:
            # --- Start setup --- #
            - uses: actions/checkout@v4
            - uses: ./tooling/actions/install-dependencies
            # --- End setup --- #

            - name: Audit
              run: pnpm audit

    format:
        needs: audit
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./tooling/actions/install-dependencies
            - name: Format
              run: pnpm format

    lint:
        needs: audit
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./tooling/actions/install-dependencies
            - name: Lint
              run: pnpm lint

    test:
        needs: audit
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./tooling/actions/install-dependencies
            - name: Test
              run: pnpm test:ci

    typecheck:
        needs: audit
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./tooling/actions/install-dependencies
            - name: Typecheck
              run: pnpm typecheck
